<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean name="aws" class="com.griddynamics.equestrian.helpers.AmazonKeys"/>

    <bean name="parserHost" class="com.griddynamics.equestrian.helpers.impl.ParserHostEC2">
        <property name="aws" ref="aws"/>
    </bean>

    <bean name="application" class="com.griddynamics.equestrian.model.Application"/>
    
    <bean name="historyEntity" class="com.griddynamics.equestrian.model.HistoryEntity"/>

    <bean name="startApplication" class="com.griddynamics.equestrian.deploy.impl.StartApplicationImpl">
        <property name="parserHost" ref="parserHost"/>
        <property name="application" ref="application"/>
    </bean>

    <bean name="history" class="com.griddynamics.equestrian.helpers.History">
        <property name="historyEntity" ref="historyEntity"/>
    </bean>

    <bean name="startVirtual" class="com.griddynamics.equestrian.deploy.impl.StartVirtualMachinesImpl">
        <property name="aws" ref="aws"/>
    </bean>

    <bean name="stopVirtual" class="com.griddynamics.equestrian.deploy.impl.StopVirtualMachinesImpl">
        <property name="aws" ref="aws"/>
    </bean>
</beans>
