<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
                  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean name="aws" class="com.griddynamics.equestrian.helpers.AmazonKeys" scope="singleton"/>
    <!--<bean name="parserHost" class="com.griddynamics.equestrian.helpers.impl.ParserHostXml" scope="singleton"/>-->
    <bean name="parserHost" class="com.griddynamics.equestrian.helpers.impl.ParserHostEC2" scope="singleton">
        <property name="aws" ref="aws"/>
    </bean>
    <bean name="application" class="com.griddynamics.equestrian.model.Application" scope="singleton"/>
    <bean name="historyEntity" class="com.griddynamics.equestrian.model.HistoryEntity" scope="singleton"/>

    <bean name="startApplication" class="com.griddynamics.equestrian.deploy.impl.StartApplicationImpl" scope="singleton">
        <property name="parserHost" ref="parserHost"/>
        <property name="application" ref="application"/>
    </bean>

    <bean name="history" class="com.griddynamics.equestrian.helpers.History" scope="singleton">
        <property name="historyEntity" ref="historyEntity"/>
    </bean>

    <bean name="startVirtual" class="com.griddynamics.equestrian.deploy.impl.StartVirtualMachinesImpl" scope="singleton">
        <property name="aws" ref="aws"/>
    </bean>
</beans>
